@charset "UTF-8";
h1 {
	text-align: center;
	color: white;
	margin-bottom: 30px;
}
.ul{
	padding-left: 20px;
}

body {
	background: url("https://img.freepik.com/free-vector/cinema-movie-film-festival-background_1017-23458.jpg?w=2000");
}
.footer{
	margin-top: 500px;
	
}